name: chemformer-medium-deberta-encoder
block_size: 512
n_encoder_layer: 6
n_decoder_layer: 6
n_head: 8
d_model: 512
dropout: 0.1
use_submersion: false
submersion_pooling_method: "mean"
immersion_activation: "silu"
use_kv_cache: false
use_gate: true
use_qk_norm: true
ffn_multiplier: 2.6666666666666665
rope_theta: 10000.0
layer_scale_init: 0.0001
electra_task: true
encoder_attention_type: "disentangled"
max_relative_positions: 512
use_liger_ff: true
use_liger_norm: true
use_liger_rope: true

